html, body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}

.footer {
	flex: 0 1 auto;
}

.container {
	width: 100%;
	max-width: 855px;
	margin: 0 auto;
}