html, body {
	height: 100%;
	font-family: 'Heebo', sans-serif;
	color: #21243D;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}

.footer {
	flex: 0 1 auto;
}

.container {
	width: 100%;
	max-width: 895px;
	margin: 0 auto;
	padding: 0 20px;
}

.photo {
	border-radius: 50%;
}