.blog {
	padding-bottom: 53px;
}
.blog-menu {
	margin-bottom: 106px;
}
.blog__title {
	margin-bottom: 55px;
}
.blog__items {
	display: flex;
	flex-direction: column;
	row-gap: 32px;

}
.blog__item {
	padding-bottom: 32px;
	border-bottom: 1px solid #E0E0E0;
}
.blog__item-title {
	font-weight: 500;
	font-size: 30px;
	line-height: 44px;
}
.blog__item-info {
	display: flex;
	align-items: center;
	line-height: 21px;
	font-size: 20px;
	margin-bottom: 15px;
}
.blog__item-date {
	margin-right: 30px;
	flex-shrink: 0;
}
.blog__item-about {
	padding-left: 25px;
	border-left: 2px solid #21243D;
	color: #8695A4;
}


@media screen and (max-width: 480px) {
	.blog-menu {
		margin-bottom: 35px;
	}
	.blog__title {
		margin-bottom: 16px;
	}
	.blog__item {
		padding-bottom: 24px;
	}
	.blog__item-title {
		font-size: 26px;
		line-height: 38px;
		margin-bottom: 5px;
	}
	.blog__item-info {
		font-size: 16px;
		line-height: 18px;
	}
}